<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jovanovic.stefan.sqlitetutorial">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="M-Expense"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Detail_Expense_Activity"
            android:parentActivityName=".Detail_Trip_Activity"/>

        <activity android:name=".Add_Expense_Activity"
            android:parentActivityName=".Detail_Trip_Activity"/>

        <activity android:name=".Update_Trip_Activity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".Add_Trip_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Detail_Trip_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="WaitingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_Activity"
            android:exported="true" >
        </activity>
        <activity
            android:name="MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>